@page
@model AutoEscolaPeDeChumbo.Pages.Funcionarios.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Funcionario.FuncionarioID" />
            <div class="form-group">
                <label asp-for="Funcionario.Nome" class="control-label"></label>
                <input asp-for="Funcionario.Nome" class="form-control" />
                <span asp-validation-for="Funcionario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.dtAmissao" class="control-label"></label>
                <input asp-for="Funcionario.dtAmissao" class="form-control" />
                <span asp-validation-for="Funcionario.dtAmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.SalBruto" class="control-label"></label>
                <input asp-for="Funcionario.SalBruto" class="form-control" />
                <span asp-validation-for="Funcionario.SalBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
