@page
@model AutoEscolaPeDeChumbo.Pages.Alunos.CreateModel

@{
    ViewData["Title"] = "Alunos";
}

<h1>Criar</h1>

<h4>Alunos</h4>
<hr />
<form method="post">
    <div class="row">
        <div class="col-md-8">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Alunos.Nome" class="control-label"></label>
                <input asp-for="Alunos.Nome" class="form-control" />
                <span asp-validation-for="Alunos.Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Alunos.Email" class="control-label"></label>
                <input asp-for="Alunos.Email" class="form-control" />
                <span asp-validation-for="Alunos.Email" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Alunos.Tel" class="control-label"></label>
                <input asp-for="Alunos.Tel" class="form-control" />
                <span asp-validation-for="Alunos.Tel" class="text-danger"></span>
            </div>
         </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Alunos.Endereco" class="control-label"></label>
                    <input asp-for="Alunos.Endereco" class="form-control" />
                    <span asp-validation-for="Alunos.Endereco" class="text-danger"></span>
                </div>
                </div>
            </div>
       
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
</form>


<div>
    <a asp-page="Índice">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
